<ion-header padding>
<ion-item id="search"> 
  <ion-label id="icon"><ion-icon name="search"></ion-icon></ion-label>
  <ion-input placeholder="Ex: Hotel Tivoli" type="text" [(ngModel)]="searchterm" (keydown)="search($event)"> </ion-input>
</ion-item>
<ion-avatar right top> <img src="https://firebasestorage.googleapis.com/v0/b/taquiclient.appspot.com/o/25398685_1466687843447834_8763177209878655648_n.jpg?alt=media&token=040e9581-ea10-4d3d-99bc-aa87389d1d2c" id="avatar" (click)=" ProfilePage()"></ion-avatar>
</ion-header>

<ion-content>
  <div *ngIf="searchterm">
    <div *ngFor="let club of clubs">
      <ion-item>
         <ion-avatar item-start> <img src="{{club.image}}"> </ion-avatar>
        <h3>{{club.club | uppercase}}</h3>
        <h3  style="color:rgb(235, 98, 121)"><ion-icon name="ios-star"></ion-icon> <ion-icon name="ios-star"></ion-icon> <ion-icon name="ios-star"> </ion-icon> <ion-icon name="ios-star"></ion-icon>  <ion-icon name="ios-star-outline"></ion-icon> </h3>  
        <h3>{{club.country}}</h3>   
      </ion-item>
      <hr>
    </div>

    
    </div>
      <div *ngIf="!searchterm">
          <ion-grid>
                  <h4> <b> Pesquisa</b></h4> 
                <ion-row class="row-padding">
                  <ion-col class="ion-col" >
                    <img  src="assets/imgs/taqui-ilustration-nature.png" (click)="NaturePage()" >
                    <p text-center > Natureza</p>
                  </ion-col>
                  <ion-col  class="ion-col">
                      <img  src="assets/imgs/taqui-ilustration-beach.png"  (click)="BeachPage()">
                      <p text-center >  Praias</p>
                    </ion-col> 
                  <ion-col class="ion-col" >
                    <img  src="assets/imgs/taqui-ilustration-restauran.png"  (click)="RestaurantePage()">
                    <p text-center > Restaurante </p>
                  </ion-col>
                </ion-row>
  
                <ion-row class="row-padding"> 
                  <ion-col  class="ion-col">
                    <img  src="assets/imgs/taqui-ilustration-hotel.png "  (click)="HotelPage()" >
                    <p text-center> Hotéis</p>
                  </ion-col>
                  <ion-col  class="ion-col">
                    <img  src=" assets/imgs/taqui-ilustration-activities.png"  (click)="ActivityPage()" >
                    <p text-center >  Actividades</p>
                 
                  </ion-col>   
                  <ion-col  class="ion-col">
                  
                    </ion-col> 
                </ion-row>
          
              </ion-grid>

              <ion-grid>
                  <h4> <b> Melhores Hoteis</b></h4> 
                <ion-row class="row-padding">
                  <ion-col  >
                      <img  src="assets/imgs/taqui-ilustration-hotel.png " >
                    <p text-center > Natureza</p>
                    
                  </ion-col>
                  <ion-col>
                      <img  src="assets/imgs/taqui-ilustration-hotel.png " >
                      <p text-center > Cinema</p>
                  </ion-col>
                  <ion-col >
                      <img  src="assets/imgs/taqui-ilustration-hotel.png " >
                    <p text-center > Restaurante </p>
                  </ion-col>
                </ion-row>        
              </ion-grid>

             
              <ion-grid>
                  <h4> <b> Melhores Restaurantes</b></h4>
                <ion-row class="row-padding">
                  <ion-col >
                      <img  src="assets/imgs/taqui-ilustration-restauran.png"  >
                    <p text-center > Natureza</p>
                    
                  </ion-col>
                  <ion-col>
                      <img  src="assets/imgs/taqui-ilustration-restauran.png"  >
                      <p text-center > Cinema</p>
                  </ion-col>
                  <ion-col >
                      <img  src="assets/imgs/taqui-ilustration-restauran.png"   >
                    <p text-center > Restaurante </p>
                  </ion-col>
                </ion-row>
              </ion-grid>

            
              <ion-grid>
                  <h4> <b> Melhores Praias</b></h4>
                <ion-row class="row-padding">
                  <ion-col  >
                      <img  src="assets/imgs/taqui-ilustration-beach.png">
                    <p text-center > Natureza</p>
                    
                  </ion-col>
                  <ion-col>
                      <img  src="assets/imgs/taqui-ilustration-beach.png">
                      <p text-center > Cinema</p>
                  </ion-col>
                  <ion-col >
                      <img  src="assets/imgs/taqui-ilustration-beach.png">
                    <p text-center > Restaurante </p>
                  </ion-col>
                </ion-row>
              </ion-grid>

               
              <ion-grid>
                  <h4> <b>Melhores Locais Naturais</b></h4> 
                <ion-row class="row-padding">
                  <ion-col  >
                    <img  src=" assets/imgs/taqui-ilustration-activities.png" >
                    <p text-center > Natureza</p>
                    
                  </ion-col>
                  <ion-col>
                    <img  src=" assets/imgs/taqui-ilustration-activities.png"  >
                      <p text-center > Cinema</p>
                  </ion-col>
                  <ion-col >
                    <img  src=" assets/imgs/taqui-ilustration-activities.png"   >
                    <p text-center > Restaurante </p>
                  </ion-col>
                </ion-row>    
              </ion-grid>
             
              <ion-grid>
                  <h4> <b> Melhores Actividades</b></h4> 
                <ion-row class="row-padding">
                  <ion-col >
                    <img  src=" assets/imgs/praia.png"  >
                    <p text-center > Canoagem</p>
                    
                  </ion-col>
                  <ion-col>
                    <img  src=" assets/imgs/campismo.png"   >
                      <p text-center > Campismo</p>
                  </ion-col>
                  <ion-col >
                    <img  src=" assets/imgs/judo.png"  >
                    <p text-center > Jiu Jitsu Brasileiro </p>
                  </ion-col>
                </ion-row>    
              </ion-grid>

            


              <ion-grid>
                <h4> <b> Artigos do Blog</b></h4>
              <ion-row   >
                <div class="row-pad" *ngFor="let dat of data2; index as i">
                <ion-card *ngIf=" i<3">
                <ion-col auto >
                <a href="{{dat.link}}"> <img  src="assets/imgs/taqui-ilustration-activities.png"  class="img-Artigos" ></a> 
               <a href=" {{dat.link}}"></a>   <h3 style="font-size:10px; font-weight:bold;" text-center> {{dat.title.rendered}}</h3>
                </ion-col>
              </ion-card>
                </div>
              </ion-row>    
            </ion-grid>

            </div>   

</ion-content>
